<div class="container contacto" id="contact">
    <h1>Contact</h1>
    <div class="content-contact">
        <div class="right-contacto col-sm-12 col-md-12 col-lg-12">
                <div class="social-contact">
                    <div class="social-linkedin">
                        <button>
                            <img src="./assets/imagenes/linkedin.png" alt=""  >
                            <a href="https://www.linkedin.com/in/tomasnnieto/"Target="_blank" >Linkedin</a>
                        </button>
                    </div>
                    <div class="social-wsp">
                        <div class="social-linkedin">
                            <button> <img src="./assets/imagenes/wsp.webp" alt=""  >
                                <a href="https://api.whatsapp.com/send?phone=3518575518&text=Hola!%20Te%20contacto%20desde%20tu%20portfolio." Target="_blank">Whatsapp</a></button>
                        </div>
                    </div>
                </div>
                <input type="text" placeholder="Nombre...">
                <input type="text" placeholder="Email...">
            <input type="text" class="input-msj" placeholder="Mensaje...">
            <button class="btn-message">Send Message</button>
        </div>
    </div>
</div>