<div class="container about">
    <div class="row">
    <h1>About Me</h1>
    <div class="about-content" data-aos="zoom-in" data-aos-duration="2000">
        <div class="about-img" >
            <img src="./assets/imagenes/aa.jpeg" alt="" class="social_img" >
        </div>
        <div class="about-text">
            <h3>Who i am?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Animi eveniet corrupti accusantium aliquam laudantium 
            laborum asperiores vitae exercitationem, magnam incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Animi eveniet corrupti accusantium aliquam laudantium 
            laborum asperiores vitae exercitationem, magnam incidunt.
            </p>
            <h3>What are my hobbies?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Animi eveniet corrupti accusantium aliquam laudantium 
                laborum asperiores vitae exercitationem, magnam incidunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Animi eveniet corrupti accusantium aliquam laudantium 
                laborum asperiores vitae exercitationem, magnam incidunt.
            </p>
        </div>
    </div>
    
</div>
</div>