/*  ABOUT */
.about{
    padding-top: 98px;
    border-radius: 25px;
    width: 100%;
    z-index: 2  !important;
    
    
}
.about h1{
    text-align: center;
    font-weight: 800;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    margin-bottom: -30px !important;
   
}
.about-content{
    display: flex;
    width: 100%;
    gap: 50px;
    

    
}

.about-text{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-text h2{
    text-shadow: 3px 4px 2px rgba(0,0,0,0.2);
    margin-top: -16px;
}

.about-img img{
    width: 286px;
    height: 286px;
    object-fit: cover;
    border-radius: 150px;
    box-shadow: 0px 0px 32px #ec9464;
    margin-left: 50px;
    border: 2px solid #ec9464;
    border-radius: 167px;
    margin-top: -20px !important;
    
}

span{
    color: #EC9464;
    text-shadow: 4px 4px 2px rgba(180, 138, 39, 0.5);
}
h2{
    letter-spacing: 1.3px;
}
/* Responsive */

@media (max-width: 995px) {
    .about-content.aos-init.aos-animate {
        /* DISPLAY: flex; */
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .about-img img{
        margin-left: 0px !important;
    }




    
}

@media (max-width: 425px) {

    .about-img img{
        width: 230px;
        height: 230px;
    }

    .about{
        padding-top: 70px;
        margin-top: 330px !important;
    }
    .about h1 {
       
        margin-bottom: 50px !important;
    }
}

@media (min-width: 426px) and (max-width: 987px){
    .about h1 {

        margin-bottom: 53px !important;
    }
    
    
    .about {

        margin-top: 250px;
    }
}
@media (min-width: 1017px) and (max-width: 1149px){
    .about {
       
        margin-top: 473px;
    }
    
}

@media (min-width: 988px) and (max-width: 1015px){
    .about {
       
        margin-top: 300px;
    }
    .about h1{
        
        margin-bottom: 48px !important;
    }
    
}

/*  ABOUT IMG*/
.about-img{
    animation: movimiento 2.5s linear infinite;
}
@keyframes movimiento{
0%{
    transform: translateY(0);
}
50%{
    transform: translateY(10px);

}
100%{
    transform: translateY(0);
}
}