<div class="container about" id="about">
    <div class="row">
       
    <h1 class="linea"><span>A</span>bout <span>M</span>e</h1>
    
    <div class="about-content" data-aos="zoom-in" data-aos-duration="1500">
        <div class="about-img" >
            <img src="./assets/imagenes/aa.jpeg" alt="" class="social_img" >
        </div>
        <div class="about-text">
            <h2><span>W</span>ho i am<span>?</span></h2>
            <p>I’m Tomas Nieto and I’m from Cordoba, Argentina. I’m 24 years old and I started studying programming 2 and a half years ago. I’m currently studying a university technical career in programming at the U.T.N university in Córdoba. I consider myself passionate about technology and I always enjoy my day to day working on what I like the most, programming.
            </p>
            
        </div>
        
    </div>
    
</div>
</div>
