/*  ABOUT */
.about{
    padding-top: 145px;
    border-radius: 25px;
    width: 100%;
    z-index: 9999  !important;
    color: white;
    
}
.about h1{
    text-align: center;
   
}
.about-content{
    display: flex;
    width: 100%;
    gap: 50px;
    

    
}
.about-text{
    margin-top: 30px;
}
.about-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 150px;
    box-shadow: 0px 0px  10px #222;
    margin-left: 50px;
}


/* Responsive */

@media (max-width: 995px) {
    .about-content.aos-init.aos-animate {
        /* DISPLAY: flex; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }






    
}








/*  ABOUT IMG*/
.about-img{
    animation: movimiento 2.5s linear infinite;
}
@keyframes movimiento{
0%{
    transform: translateY(0);
}
50%{
    transform: translateY(10px);

}
100%{
    transform: translateY(0);
}
}