<div class="footer">
    <div class="container">
      <div class="row">
        <span class="copy">
          Creado por <a href="">Tomas Nieto</a> | <span class="far fa-copyright"></span> 2021 Todos los derechos
          reservados.
  
      </span>
      <div class="socials">            
  
          <img src="./assets/imagenes/linkedin.png" alt="" class="social_img" >
          <a href="https://www.linkedin.com/in/tomasnnieto/" class="social_link" target="_blank">Linkedin</a>
          <img src="./assets/imagenes/git.png" alt="" class="social_img">
          <a href="https://github.com/nietotomas1645" class="social_link" target="_blank" >GitHub</a>
      </div>
      </div>
    </div>
  </div>