<footer>


  <span class="copy">
      Creado por <a href="">TOMÁS NIETO</a> ❤ <span class="far fa-copyright"></span> 2022

  </span>
  <div class="socials">            

      <img src="./assets/imagenes/linkedin.png" alt="" class="social_img" >
      <a href="https://www.linkedin.com/in/tomasnnieto/" class="social_link" target="_blank">Linkedin</a>
      <img src="./assets/imagenes/git.png" alt="" class="social_img">
      <a href="https://github.com/nietotomas1645" class="social_link" target="_blank" >GitHub</a>
  </div>
  
  
</footer>