/* FOOTER */



footer .socials .social_link{
    color: #fff;
    text-decoration: none;
 }

 footer .socials img{
    width: 30px;
    height: 30px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 5px;
    
}
footer span a:hover{
    text-decoration: underline;
}
footer span a{
    color: #ec9464;
    text-decoration: none;
    font-weight: 600;
}
footer .socials p{
    display: inline-block;
    padding: 10px; 
 
 }
 footer{
    background: #131313;
    padding: 17px 23px;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
}

.heart{
    color: #562AA0;
}
/* Footer Styles*/

