/*HEADER */

header{

    padding:12px 0;
    background-color: #131313;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    box-shadow: 0px 0px 4px 2px #000000;
  }
  .menu{
   margin-top: 10px;
   height: 35px;
  }
  .menu ul{
    padding: 0;
    margin:0;
  
  }
  
  .menu ul li{
    list-style-type: none;
  
    display: inline-block;
  
    margin-left: 30px;
  
    text-transform: uppercase;
  
  }
  .menu ul li a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1.3px;
    font-weight: 500;
  }
  .menu ul li a:hover{
    color: #EC9464;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
  .col-md-12.col-sm-9.col-9.text-end {
    width: 100% !important;
}


.menu a:hover{
  border-bottom: 2px solid #EC9464;
  cursor: pointer;
    transition: 0.3s ease-in-out;
}


  @media(max-width: 999px){
  .menu{
    position: fixed;
    right: -280px;
    top:64;
    width: 280px;
    height: 100%;
    background: #131313;
    transition: 0.3s ease-in-out;
  
  }
  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid #312f2f;
  
  }
  .menu_icon{
    display: inline-block;
    position: relative;
    right: 0;
    top: 20 px;
  
  }
  
  
  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: 0.2s ease-in-out;
  
  }
  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  
  }
  .menu_iconClass span:nth-child(2){
  
  display: none;
  }
  
  .menu_iconClass span:nth-child(1){
  
    transform: rotate(40deg);
  }
  
  
  .menu_iconClass span:nth-child(3){
  
    transform: rotate(-40deg);
    margin-top: -3px;
  }
  
  .menuClasse{
  
  right: 0;
  transition: 0.4s ease-in-out;
  
  }
  }




