<header>
    <div  class="container">
  
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="logo">
            <!--<img src="./assets/imagenes/clogo.png" alt=""  >-->
          </div>
  
        </div>
  
  
        <div class="col-md-9 col-sm-9 col-9 text-end">
  
  
        <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
  
  
          <div class="menu" [class.menuClasse]="menuVariable">
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About me</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#experience">Experience</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
  
        </div>
  
      </div>
  
    </div>
  </header>
  
  


  