<section class="home" id="home">
    <div class="max-width">
        <div class="container banner-content">
            <div class="home-content col-lg-6">
                <div class="text-1"><span>W</span>elcome!</div>
                <div class="text-2"><span>I</span> am <span>F</span>ull<span>S</span>tack</div>
                <div class="text-3"><span>D</span>eveloper <span class="typing"></span></div>
                <a href="./assets/cv/Tomas Nieto - CV.pdf" class="btn" download="TomasNietoCV.pdf">Download CV</a>
            </div>
            <div class="home-content2 col-lg-6">
                <img src="./assets/imagenes/computer_v.png" alt="" class="social_img" >
            </div>
           
    </div>

    </div>
    <app-burbujas></app-burbujas>

    
</section>


