@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --font-base: "DM Sans", sans-serif !important;
}

*{
  font-family: "DM Sans", sans-serif !important;
}
*{
  min-width: 100% !important;
}
.app-header,html,body{
  width: 100% !important;
}
.app-experience{
  padding-top: 145px;
}

