<div class="container skills" id="skills">
    <div class="row">
    <h1>Skills</h1>
    
    <div class="skills-content">
        <div class="group1-skills" data-aos="fade-right" data-aos-duration="2000">
        <img src="https://cdn.sanity.io/images/jqaxrty6/production/50968497ea0d75acd3eaaeea5d305c1b8cc9828f-2048x2048.png" alt=""  >
        <img src="https://cdn.sanity.io/images/jqaxrty6/production/31f11147f89dbd855a9b948e2ce643ea2f41c0a9-480x480.png" alt=""  >
        <img src="https://cdn.sanity.io/images/jqaxrty6/production/107574d887f1c07c9fbea0704de7f293e244a8f3-480x480.png" alt=""  >
        <img src="https://cdn.sanity.io/images/jqaxrty6/production/8ebd4616c7c612766954e1274a8c99460ac21e7e-225x225.png" alt=""  >
        <img src="https://cdn.sanity.io/images/jqaxrty6/production/cbaf286b0d917e923f20f659c047f84f013e90a7-512x512.png" alt=""  >
        <img src="https://cdn.sanity.io/images/jqaxrty6/production/59f072c7a84791470c99c74a7e349d2caf5d7445-1024x860.png" alt=""  >
    </div>

    <div class="group2-skills" data-aos="fade-left" data-aos-duration="2000">
        <img src="./assets/imagenes/clogo.png" alt=""  >
        <img src="./assets/imagenes/5.png" alt=""  >        
        <img src="https://cdn.sanity.io/images/jqaxrty6/production/fb76165a82a59baf6606873c61b7fa68dfafa101-1200x1200.png" alt=""  >
        <img src="./assets/imagenes/sqlogo.png" alt=""  >
        <img src="./assets/imagenes/javalogo.png" alt=""  >
    </div>
        
    
</div>

</div>