/* You can add global styles to this file, and also import other style files */

body{
    background-color: #030303 !important;
    width: 100% !important;
}

html, body 
{ 

 overflow-x: hidden;
 display:inline-block;
}

body h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(rgb(139, 145, 173),rgb(114, 39, 165));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 45px;
    margin-bottom: 40px;
    
    letter-spacing: 3px;
    
}