<div class="container experience" data-aos="fade-up" data-aos-duration="2000">
    <div class="row">
    <div class="experience-blur">
    
    </div>
    <h1>Experience</h1>
    <div class="container experience-content">
        <div class="works">
            <h3>Works:</h3>
            <div class="work1">
                <img src="" alt="">
                <li>E.TRES: Programador Frontend.(HTML, CSS, JS, Razor Pages, C#, SQL)</li> 
                <p>Enero 2022 - Septiembre 2022</p>
            </div>
            <div class="work2">
                <img src="" alt="">
                <li>Lobby Digital: Wordpress</li> 
                <p>Diciembre 2019 - Marzo 2020</p>
            </div>
            <div class="work3">
                <img src="" alt="">
                <li>Servicio Técnico (independiente): Hardware and Software</li> 
                <p> 2016 - Actualidad.</p>
            </div>
        </div>
        <div class="education">
            <h3>Education:</h3>
            <div class="education1">
                <li>Tecnicatura Universitaria en Programación</li>
                <p>Marzo 2022 - Actualidad.</p>
            </div>
            <h3>Courses:</h3>
            <div class="courses-container">
                <div class="courses-container1">
                    <div class="education2">
                        <li>Angular (OpenBootcamp)</li>
                        <p>- ??</p>
                    </div>
                    <div class="education3">
                        <li>SQL (OpenBootcamp)</li>
                        <p>- Agosto 2022</p>
                    </div>
                    <div class="education4">
                        <li>JavaScript (CodigoFacilito)</li>
                        <p>- Junio 2022</p>
                    </div>
                </div>
                <div class="courses-container2">
                    <div class="education5">
                        <li>Scrum Fundamentals Certified(SFC)</li>
                        <p>- Febrero 2022</p>
                    </div>
                    <div class="education6">
                        <li>Argentina Programa </li>
                        <p>- Diciembre 2021</p>
                    </div>
                    <div class="education7">
                        <li>ASP.NET Core (Udemy) </li>
                        <p>- Octubre 2020</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    </div>
</div>