<div class="container experience" data-aos="fade-up" data-aos-duration="1500" id="experience">
    
    <div class="experience-blur">
    
    </div>
    <h1><span>E</span>xperience</h1>
    <div class="container experience-content">
        <div class="works">
            <h2><span>W</span>orks:</h2>
            <div class="work1">

                <li>E.TRES: Frontend Developer (HTML, CSS, JS, Razor Pages, C#, SQL)</li> 
                <p>- January 2022 - September 2022</p>
            </div>
            <div class="work2">
                <img src="" alt="">
                <li>Lobby Digital: Wordpress</li> 
                <p>- December 2019 - March 2020</p>
            </div>
            <div class="work3">
                <img src="" alt="">
                <li>Servicio Técnico (Independent): Hardware and Software</li> 
                <p>- 2016 - Present</p>
            </div>
        </div>
        <div class="education">
            <h2><span>E</span>ducation:</h2>
            <div class="education1">
                <li>University Technician in Programming</li>
                <p>- March 2020 - Present</p>
            </div>
            <h2><span>C</span>ourses:</h2>
            <div class="courses-container">
                <div class="courses-container1">
                    <div class="education2">
                        <li>Angular (OpenBootcamp)</li>
                        <p>- ??</p>
                    </div>
                    <div class="education3">
                        <li>SQL (OpenBootcamp)</li>
                        <p>- August 2022</p>
                    </div>
                    <div class="education4">
                        <li>JavaScript (CodigoFacilito)</li>
                        <p>- June 2022</p>
                    </div>
                </div>
                <div class="courses-container2">
                    <div class="education5">
                        <li>Scrum Fundamentals Certified(SFC)</li>
                        <p>- February 2022</p>
                    </div>
                    <div class="education6">
                        <li>Argentina Programa </li>
                        <p>- December 2021</p>
                    </div>
                    <div class="education7">
                        <li>ASP.NET Core (Udemy) </li>
                        <p>- October 2020</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>