/* EXPERIENCE CSS STYLES*/


.experience{

    border-radius: 25px;
    width: 100%;
    box-shadow: 0 0 20px #562AA0;
    background:linear-gradient(#562AA0, #ec9464);
    z-index: 9999  !important;
    color: rgb(241, 241, 241) !important;
    border: 2px solid #b689ff;
    
}
.experience  p, h3, li{
    color: white !important;
    
}

.experience h1{
    font-weight: 800;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.9);
}
.experience h2{
    font-weight: 800;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.9);
    margin-bottom: 18px;
}
*{
    font-family: 'Chakra Petch', sans-serif !important;
}
.experience-content{
    padding-bottom: 45px;
}
.experience-blur{
    -webkit-filter: blur(20px);
    filter: blur(20px);
    
}

.experience h1{
    margin-top: 40px;
    text-align: center;
    
}

.education h2{
    text-align: center;
}


.experience-content{
    display: flex;
    gap: 50px;
}

.container.experience-content {
    display: flex;
    justify-content: center;
}

.works h2{
    text-align: center;
    margin-bottom: 18px;
}
h2{
    letter-spacing: 1.3px;
    font-weight: 500;
}
.courses-container{
    display: flex;
    gap: 30px;
}
h1,span{
    color: #ec9464 !important;

}

@media (max-width: 768px) {

    .container .experience-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


}

@media (max-width: 530px) {

    .courses-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

}

@media (max-width: 425px) {

    div#experience {
        width: 90%;
    }
}
